In [1]:
# link = "https://fifemon.fnal.gov/kibana/app/kibana#/visualize/edit/33d02c40-8b41-11ee-804b-5759672b811c?_g=(refreshInterval:(pause:!t,value:0),time:(from:'2022-01-01T06:00:00.000Z',mode:absolute,to:'2023-11-25T03:09:25.714Z'))&_a=(filters:!(),linked:!f,query:(language:lucene,query:'Jobsub_Group:dune'),uiState:(vis:(params:(sort:(columnIndex:!n,direction:!n)))),vis:(aggs:!((enabled:!t,id:'1',params:(field:SlotHours),schema:metric,type:sum),(enabled:!t,id:'3',params:(field:MachineAttrGLIDEIN_DUNESite0,missingBucket:!f,missingBucketLabel:Missing,order:desc,orderBy:'1',otherBucket:!f,otherBucketLabel:Other,size:50),schema:bucket,type:terms),(enabled:!t,id:'5',params:(customInterval:'2h',drop_partials:!f,extended_bounds:(),field:'@timestamp',interval:M,min_doc_count:1,timeRange:(from:'2022-01-01T06:00:00.000Z',mode:absolute,to:'2023-11-25T03:09:25.714Z'),useNormalizedEsInterval:!t),schema:bucket,type:date_histogram),(enabled:!t,id:'4',params:(filters:!((input:(query:'NOT(Owner:dunepro)%20AND%20NOT(Jobsub_SubGroup:mars)'),label:Analysis),(input:(query:'Owner:dunepro'),label:Production),(input:(query:'Jobsub_SubGroup:mars'),label:MARS),(input:(query:'*'),label:Total))),schema:bucket,type:filters)),params:(perPage:24,showMetricsAtAllLevels:!f,showPartialRows:!f,showTotal:!f,sort:(columnIndex:!n,direction:!n),totalFunc:sum),title:'DUNE%20monthly%20slot%20hours%20by%20site%20and%20role',type:table))"

In [2]:
# go to that link, go to inspect and save as formatted csv

In [3]:
import csv

# ken
#  "https://fifemon.fnal.gov/kibana/app/kibana#/visualize/edit/33d02c40-8b41-11ee-804b-5759672b811c?_g=(refreshInterval:(pause:!t,value:0),time:(from:'2022-01-01T06:00:00.000Z',mode:absolute,to:'2023-11-25T03:09:25.714Z'))&_a=(filters:!(),linked:!f,query:(language:lucene,query:'Jobsub_Group:dune'),uiState:(vis:(params:(sort:(columnIndex:!n,direction:!n)))),vis:(aggs:!((enabled:!t,id:'1',params:(field:SlotHours),schema:metric,type:sum),(enabled:!t,id:'3',params:(field:MachineAttrGLIDEIN_DUNESite0,missingBucket:!f,missingBucketLabel:Missing,order:desc,orderBy:'1',otherBucket:!f,otherBucketLabel:Other,size:50),schema:bucket,type:terms),(enabled:!t,id:'5',params:(customInterval:'2h',drop_partials:!f,extended_bounds:(),field:'@timestamp',interval:M,min_doc_count:1,timeRange:(from:'2022-01-01T06:00:00.000Z',mode:absolute,to:'2023-11-25T03:09:25.714Z'),useNormalizedEsInterval:!t),schema:bucket,type:date_histogram),(enabled:!t,id:'4',params:(filters:!((input:(query:'NOT(Owner:dunepro)%20AND%20NOT(Jobsub_SubGroup:mars)'),label:Analysis),(input:(query:'Owner:dunepro'),label:Production),(input:(query:'Jobsub_SubGroup:mars'),label:MARS),(input:(query:'*'),label:Total))),schema:bucket,type:filters)),params:(perPage:24,showMetricsAtAllLevels:!f,showPartialRows:!f,showTotal:!f,sort:(columnIndex:!n,direction:!n),totalFunc:sum),title:'DUNE%20monthly%20slot%20hours%20by%20site%20and%20role',type:table))"

# wenlong https://fifemon.fnal.gov/kibana/app/kibana#/dashboard/83d7b0c0-8b1c-11ee-804b-5759672b811c?_g=(refreshInterval:(pause:!t,value:0),time:(from:now-1y,mode:quick,to:now))&_a=(description:%27%27,filters:!(),fullScreenMode:!f,options:(darkTheme:!t,hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:14,i:%271%27,w:48,x:0,y:0),id:%2757162130-8b1b-11ee-804b-5759672b811c%27,panelIndex:%271%27,type:visualization,version:%276.8.23%27),(embeddableConfig:(),gridData:(h:16,i:%272%27,w:48,x:0,y:14),id:%275ee81fc0-8b1c-11ee-804b-5759672b811c%27,panelIndex:%272%27,type:visualization,version:%276.8.23%27)),query:(language:lucene,query:%27%27),timeRestore:!t,title:fifebatch-jobs-dune,viewMode:view)


name = 'DUNE monthly slot hours by site and role-2.csv'
inunits="Hr"
outunits = "MHr"
units=1000000.
Data = {}
ByCountry = {}
sites = []
types = []
dates = []
countries = []

In [4]:
# read in csv and parse into array

with open(name,'r') as csv_file:
    csv_reader = csv.reader(csv_file, delimiter=',')
    line_count = 0
    
    for row in csv_reader:
        #print (row)
        line_count += 1
        if line_count == 1:
            labels = row
            continue
        site = row[0] 
        country = site.split("_")[0]
        date = row[1][0:7] # truncate the day
        type = row[2]
        value = float(row[3].replace(",",""))/units
        

        
        if type not in Data.keys():
            #print ("add type",type)
            Data[type]={}
            types.append(type)
            
        if site not in Data[type].keys():
            #print ("add site",site)
            Data[type][site]={}
        
        
        if type not in types: types.append(type)
        if site not in sites: sites.append(site)
        if date not in dates: dates.append(date)
        if country not in countries: countries.append(country)
        
        Data[type][site][date]=value
         
        
        # print (Data)
print (sites)
print (countries)  
print (dates)

sites.sort()

['US_FermiGrid', 'US_FNAL-FermiGrid', 'NL_SURFsara', 'UK_RAL-Tier1', 'CERN', 'UK_RAL-PPD', 'undefined', 'UK_Manchester', 'CZ_FZU', 'IN_TIFR', 'ES_PIC', 'UK_QMUL', 'NL_NIKHEF', 'UK_Bristol', 'FR_CCIN2P3', 'UK_Lancaster', 'US_BNL', 'UK_Imperial', 'RU_JINR', 'CA_Victoria', 'US_Colorado', 'BR_CBPF', 'UK_Brunel', 'UK_Oxford', 'US_UChicago', 'US_NERSC', 'UK_Edinburgh', 'US_SU-ITS', 'UK_Sheffield', 'UK_Liverpool', 'US_FNAL-T1', 'US_UCSD', 'ES_CIEMAT', 'US_WSU', 'US_Wisconsin', 'US_PuertoRico', 'US_UConn-HPC', 'US_NotreDame', 'CH_UNIBE-LHEP', 'IT_CNAF', 'CA_SFU', 'US_Michigan', 'US_Caltech', 'US_Nebraska', 'US_Omaha', 'US_Swan', 'US_MWT2']
['US', 'NL', 'UK', 'CERN', 'undefined', 'CZ', 'IN', 'ES', 'FR', 'RU', 'CA', 'BR', 'CH', 'IT']
['2022-01', '2022-02', '2022-03', '2022-04', '2022-05', '2022-06', '2022-07', '2022-08', '2022-09', '2022-10', '2022-11', '2022-12', '2023-01', '2023-02', '2023-03', '2023-04', '2023-05', '2023-06', '2023-07', '2023-08', '2023-09', '2023-10', '2023-11']

In [5]:
# fill in the blanks and sort by country

for type in types:
    for site in sites:
        if site not in Data[type].keys():
            Data[type][site]={}
        for date in dates:
            if date not in Data[type][site].keys():
                Data[type][site][date] = 0.0
        #print (type,site, Data[type][site])

In [6]:
lowdate = "2022-11"
highdate = "2023-10"

In [7]:
print ("Usage in %s between %s and %s"%(outunits,lowdate,highdate))
print ("%30s %10s %10s %10s %10s %10s"%("Site","Production","Analysis","NoMARS","MARS","Total"))

totalacrosssite={}
for type in types:
    totalacrosssite[type] = 0.0
for site in sites:
    use = {}
    for type in types:
        use[type] = 0.0        
        for date in dates:
            use[type] += Data[type][site][date]
        totalacrosssite[type] += use[type]
    use["NoMARS"] = use["Total"] - use["MARS"]  
    print ("%30s %10.3f %10.3f %10.3f %10.3f %10.3f"%(site,use["Production"],use["Analysis"],use["NoMARS"],use["MARS"],use["Total"])) 

totalacrosssite["NoMARS"] = totalacrosssite["Total"] - totalacrosssite["MARS"]
print ("%30s %10.3f %10.3f %10.3f %10.3f %10.3f"%("Total",totalacrosssite["Production"],totalacrosssite["Analysis"],totalacrosssite["NoMARS"],totalacrosssite["MARS"],totalacrosssite["Total"]))

Usage in MHr between 2022-11 and 2023-10
                          Site Production   Analysis     NoMARS       MARS      Total
                       BR_CBPF      0.307      0.131      0.438      0.000      0.438
                        CA_SFU      0.003      0.011      0.014      0.000      0.014
                   CA_Victoria      0.151      0.336      0.486      0.000      0.486
                          CERN      1.723      1.670      3.393      0.000      3.393
                 CH_UNIBE-LHEP      0.024      0.004      0.028      0.000      0.028
                        CZ_FZU      0.723      0.669      1.392      0.000      1.392
                     ES_CIEMAT      0.026      0.049      0.075      0.000      0.075
                        ES_PIC      0.560      0.658      1.218      0.000      1.218
                    FR_CCIN2P3      0.392      0.476      0.867      0.000      0.867
                       IN_TIFR      0.514      0.774      1.288      0.000      1.288
                       IT_CNAF      0.000      0.027      0.027      0.000      0.027
                     NL_NIKHEF      0.617      0.465      1.083      0.000      1.083
                   NL_SURFsara      1.797      1.633      3.430      0.000      3.430
                       RU_JINR      0.124      0.427      0.551      0.000      0.551
                    UK_Bristol      0.501      0.514      1.015      0.000      1.015
                     UK_Brunel      0.236      0.188      0.424      0.000      0.424
                  UK_Edinburgh      0.184      0.084      0.268      0.000      0.268
                   UK_Imperial      0.363      0.344      0.707      0.000      0.707
                  UK_Lancaster      0.525      0.268      0.793      0.000      0.793
                  UK_Liverpool      0.109      0.084      0.192      0.000      0.192
                 UK_Manchester      0.550      1.337      1.887      0.000      1.887
                     UK_Oxford      0.242      0.177      0.419      0.000      0.419
                       UK_QMUL      0.638      0.491      1.129      0.000      1.129
                    UK_RAL-PPD      1.142      1.359      2.502      0.000      2.502
                  UK_RAL-Tier1      1.810      1.591      3.402      0.000      3.402
                  UK_Sheffield      0.149      0.093      0.242      0.000      0.242
                        US_BNL      0.500      0.251      0.751      0.000      0.751
                    US_Caltech      0.000      0.007      0.007      0.000      0.007
                   US_Colorado      0.172      0.273      0.445      0.000      0.445
             US_FNAL-FermiGrid      1.057     17.076     18.133      0.390     18.522
                    US_FNAL-T1      0.060      0.110      0.170      0.000      0.170
                  US_FermiGrid      3.102     23.588     26.690     15.059     41.749
                       US_MWT2      0.000      0.001      0.001      0.000      0.001
                   US_Michigan      0.000      0.009      0.009      0.000      0.009
                      US_NERSC      0.269      0.000      0.269      0.000      0.269
                   US_Nebraska      0.000      0.003      0.003      0.000      0.003
                  US_NotreDame      0.016      0.028      0.044      0.000      0.044
                      US_Omaha      0.000      0.002      0.002      0.000      0.002
                 US_PuertoRico      0.017      0.034      0.051      0.000      0.051
                     US_SU-ITS      0.000      0.246      0.246      0.000      0.246
                       US_Swan      0.000      0.001      0.001      0.000      0.001
                       US_UCSD      0.040      0.054      0.094      0.000      0.094
                   US_UChicago      0.190      0.084      0.274      0.000      0.274
                  US_UConn-HPC      0.028      0.020      0.048      0.000      0.048
                        US_WSU      0.029      0.038      0.067      0.000      0.067
                  US_Wisconsin      0.018      0.047      0.065      0.000      0.065
                     undefined      1.806      0.348      2.154      0.000      2.154
                         Total     20.716     56.078     76.794     15.449     92.243

In [8]:
# do by country
for type in types:
    ByCountry[type]={}
    for country in countries:
        ByCountry[type][country]={}
        for date in dates:
            ByCountry[type][country][date] = 0.0
    for site in sites:
        country = site.split("_")[0]
        for date in dates:
            ByCountry[type][country][date]+=Data[type][site][date]

In [9]:
print ("                              Usage in %s between %s and %s"%(outunits,lowdate,highdate))
print ("%30s %10s %10s %10s %10s %10s"%("Country","Production","Analysis","NoMARS","MARS","Total"))

totalacrosssites={}
for type in types:
    totalacrosssite[type] = 0.0
for site in countries:
    use = {}
    for type in types:
        use[type] = 0.0        
        for date in dates:
            use[type] += ByCountry[type][site][date]
        totalacrosssite[type] += use[type]
    use["NoMARS"] = use["Total"] - use["MARS"]  
    print ("%30s %10.3f %10.3f %10.3f %10.3f %10.3f"%(site,use["Production"],use["Analysis"],use["NoMARS"],use["MARS"],use["Total"])) 

totalacrosssite["NoMARS"] = totalacrosssite["Total"] - totalacrosssite["MARS"]
print ("%30s %10.3f %10.3f %10.3f %10.3f %10.3f"%("Total",totalacrosssite["Production"],totalacrosssite["Analysis"],totalacrosssite["NoMARS"],totalacrosssite["MARS"],totalacrosssite["Total"]))

                              Usage in MHr between 2022-11 and 2023-10
                       Country Production   Analysis     NoMARS       MARS      Total
                            US      5.499     41.872     47.372     15.449     62.821
                            NL      2.414      2.098      4.513      0.000      4.513
                            UK      6.449      6.530     12.979      0.000     12.979
                          CERN      1.723      1.670      3.393      0.000      3.393
                     undefined      1.806      0.348      2.154      0.000      2.154
                            CZ      0.723      0.669      1.392      0.000      1.392
                            IN      0.514      0.774      1.288      0.000      1.288
                            ES      0.586      0.706      1.292      0.000      1.292
                            FR      0.392      0.476      0.867      0.000      0.867
                            RU      0.124      0.427      0.551      0.000      0.551
                            CA      0.154      0.346      0.500      0.000      0.500
                            BR      0.307      0.131      0.438      0.000      0.438
                            CH      0.024      0.004      0.028      0.000      0.028
                            IT      0.000      0.027      0.027      0.000      0.027
                         Total     20.716     56.078     76.794     15.449     92.243